<launch>
<node pkg="drone_project" name="Main" type="Main.py"></node>
<node pkg="drone_project" name="ComputeX" type="compute_x.py"></node>
<node pkg="drone_project" name="ComputeY" type="compute_y.py"></node>
<node pkg="drone_project" name="ComputeZ" type="compute_z.py"></node>
<node pkg="drone_project" name="sendCommand" type="send_cmd.py">
</node>
</launch>
